:root {
    --primary-color: #008DDA;
    --secondary-color: #FDFAF6;
    --background-color: #f4f4f4;
    --text-color: #003D5B;
    --desc-color: hsl(0, 0%, 80%, 60%);
    --highlight-color: #FF5E5E;
    --shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

* {
    font-family: 'Nunito Sans', sans-serif;
    color: var(--text-color);
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--secondary-color);
    line-height: 1.6;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--secondary-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar-logo a {
    font-size: 2rem;
    font-weight: bolder;
    color: var(--text-color);
    font-style: italic;
    text-decoration: none;
}

.navlink a{
    color: white;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
    text-decoration: none;
}

.menu {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: var(--secondary-color);
    cursor: pointer;
}