:root {
    --primary-color: #008DDA;
    --secondary-color: #FDFAF6;
    --background-color: #f4f4f4;
    --text-color: #003D5B;
    --desc-color: hsl(0, 0%, 80%, 60%);
}



* {
    font-family: Arial, sans-serif;
    color: var(--text-color);
    scroll-behavior: smooth;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--secondary-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: var(--primary-color);
    border-bottom: 1px solid #fefefe;
    position: fixed;
    
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: black;
    font-style: italic;
    
}

.navlink a{
    color: white;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
}

/* .navicon button {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
} */

.menu {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}